<footer id="footer">
	<div class="footer--inner">
		<div class="footer-bottom">
			<div class="footer-bottom--inner flexed-desktop justify">
				<p class="footer-link no-margin">
					<a href="#" class="link link-opaque" data-toggle="modal" data-target="#about-modal">about</a>
					<a href="#" class="link link-opaque" data-toggle="modal" data-target="#tnc-modal">terms &amp; conditions</a>
				</p>

				<p class="footer-copyright f-bold no-margin">© ASIAN GAMES 2018 RDM</p>
			</div>
		</div>
	</div>
</footer><!-- #footer -->

@@include('modal-about.html')
@@include('modal-tnc.html')
