<header id="header" class="">
    <div class="header--inner">
        <div class="navbar header-main">
            <div class="container flexed justify">

                <div class="header-main flexed-desktop justify">
                	<div class="header-brand flexed-mobile justify">
	                    <a href="#" class="brand"><img src="assets/img/rdm-logo.png" alt="RDM"></a>
	                </div>

	                <div class="header-menu" id="navbarMenu">

	                    <ul class="headnav-list no-margin flexed-desktop">
	                        <li>
	                        	<a href="#" class="link link-white link-opaque">Projects</a>
	                        </li>

	                        <li>
	                        	<a href="#" class="link link-white link-opaque">About</a>
	                        </li>

	                        <li>
	                        	<a href="#" class="link link-white link-opaque">Contact</a>
	                        </li>

	                        <li>
	                        	<a href="#" class="link link-white link-opaque"><i class="icon-phone"></i></a>
	                        </li>

	                        <li>
	                        	<a href="#" class="btn btn-trigger-talk f-bold btn-border-white curved">Talk to RDM</a>
	                        </li>
	                    </ul>
	                </div>
                </div>
                <div class="header-button">
                	<button type="button" id="burger" class="btn"></button>
                </div>
            </div>
        </div>
    </div>
</header>