@import "compass/reset";
@import "compass/layout";
@import "compass/css3";
@import "fancybox/fancybox";
@import "components/base";


/* GLOBAL
-------------------------------------------- */ 
html {
    position: relative;

    &.menu-active {
    	#header {
    		#navbarMenu {
    			opacity: 0;
    			pointer-events: none;
    			@include transition(opacity .6s cubic-bezier(.23,1,.32,1) 0s);
    		}
    	}
    }
}

body {
    overflow-x: hidden;
    position: relative;
    opacity: 0;
    @include transition(opacity 200ms ease-out);

    &.loaded {
    	opacity: 1;
    }

    &.inversed {
    	background-color: $darkGray;
    	color: #fff;
    }
}

body, input, textarea, select, button {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
}


/* HEADER
-------------------------------------------- */
#header {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;

	.header--inner {
		.navbar {
			.header-main {
				width: calc(100% - 40px);

				.header-brand {
					padding: 10px 0;

					@media (max-width: $bp-md - 1px) {
						.brand {
							max-width: 70px;
						}
					}
				}

				.header-menu {
					@include transition(opacity .6s cubic-bezier(.23,1,.32,1) 0s);

					@media (min-width: $bp-md) {
						padding-left: 2rem;
						padding-right: 2rem;
					}

					ul.headnav-list {
						li {
							font-size: 16px;

							& + li {
								@media (min-width: $bp-md) {
									margin-left: 2rem;
								}
							}

							a {
								&.btn-trigger-talk {
									font-size: 12px;
									padding: 7px 12px;
									line-height: 1;
									opacity: 0.8;

									&:hover {
										opacity: 1;
									}
								}
							}
						}
					}
				}
			}

			.header-button {
				position: relative;
				width: 40px;
				height: 40px;

				#burger {
					position: fixed;
					z-index: 2;
				    width: 40px;
				    height: 40px;
				    cursor: pointer;
				    outline: 0;
				    background-color: transparent;
				    padding: 0;

				    &:before,
				    &:after {
				    	content: '';
				    	position: absolute;
				    	left: 10px;
				    	width: 20px;
				    	height: 2px;
				    	background-color: #fff;
				    	@include transition(all 250ms ease-out);
				    }

				    &:before {
				    	top: 15px;
				    }

				    &:after {
				    	bottom: 15px;
				    }

				    &.active {
				    	&:before {
				    		@include transform(translateY(3px) rotate(135deg));
				    	}

				    	&:after {
				    		@include transform(translateY(-3px) rotate(45deg));
				    	}
				    }
				}
			}

			@media (max-width: $bp-xl - 1px) {
				padding-left: 0;
				padding-right: 0;

				.container {
					.header-main {
						width: 100%;
					}
				}
			}

			@media (max-width: $bp-md - 1px) {
				.container {
					width: 100%;
				}
			}
		}
	}
}

#header-menu {
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;

	@media (max-width: $bp-s - 1px) {
		height: 95%;
	}

	&:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000;
        transform-origin: 0 0;
        @include transform(scaleY(0) translateZ(0));
        @include transition(transform .6s cubic-bezier(.23,1,.32,1));
    }

    .header-menu-drop {
    	@media (min-width: $bp-md) {
    		margin-top: 10rem;
    	}
    }

    nav.header-menu--inner {
    	.content-holder,
    	.places-holder {
    		position: relative;

    		.small-title {
	    		padding: 2.5rem 0 0;
	    		color: $gray-light;
	    		font-size: 14px;

	    		@media (max-width: $bp-md - 1px) {
					padding: 1rem 0 0;
				}

	    		&:before {
	    			content: '';
	    			display: inline-block;
	    			vertical-align: middle;
	    			width: 15px;
	    			height: 1px;
	    			margin-right: 5px;
	    			background-color: $gray-light;
	    		}
	    	}
    	}

    	

    	.menu-main {
    		opacity: 0;
    		@include transform(translateY(-10px) translateZ(0));
    		@include transition(transform .6s cubic-bezier(.23,1,.32,1) 0s, opacity .6s cubic-bezier(.23,1,.32,1) 0s);

    		.brand {
    			padding: 1.15rem 0 0;

    			@media (max-width: $bp-md - 1px) {
					max-width: 70px;
				}
    		}

    		.menu-main-list {
    			margin-top: 1rem;

    			@media (min-width: $bp-md) {
		    		margin-top: 4.5rem;
		    	}

    			li {
    				margin-bottom: 10px;

    				a {
    					color: #fff;
    					display: inline-block;
    					border-bottom: 1px solid transparent;

    					@extend .h2;
    					font-weight: normal;
    					margin-bottom: 0;

    					&:hover {
    						color: $teel;
    						border-color: rgba(255,255,255,0.85);
    					}

    					@media (max-width: $bp-md - 1px) {
    						font-size: 1.5rem;
    					}
    				}
    			}
    		}
    	}

    	.menu-content {
    		opacity: 0;
    		@include transform(translateY(-10px) translateZ(0));
    		@include transition(transform .6s cubic-bezier(.23,1,.32,1) 0s, opacity .6s cubic-bezier(.23,1,.32,1) 0s);

    		.social-list {

		    	li {
		    		display: inline-block;

		    		a {
			    		color: #fff;
			    		display: block;
			    		padding: 5px 0;
			    	}

			    	&.talk-menu {
			    		margin-left: 10px;

			    		.btn-trigger-talk {
							font-size: 12px;
							padding: 7px 12px;
							line-height: 1;
							opacity: 0.8;

							&:hover {
								opacity: 1;
								color: #000;
							}
						}
			    	}
		    	}

		    	@media (min-width: $bp-md) {
		    		margin-top: 6rem;

		    		li {
		    			display: block;

		    			&.talk-menu {
		    				margin-top: 2rem;
		    				margin-left: -12px;
		    				display: inline-block;

		    				.btn-trigger-talk {
			    				padding: 10px 25px !important;
			    			}
		    			}
		    		}
		    	}
    		}
    	}

    	.menu-places {
    		opacity: 0;
    		@include transform(translateY(-10px) translateZ(0));
    		@include transition(transform .6s cubic-bezier(.23,1,.32,1) 0s, opacity .6s cubic-bezier(.23,1,.32,1) 0s);

    		.places-list {
    			@media (min-width: $bp-md) {
		    		margin-top: 6rem;
		    	}

		    	li {
		    		padding: 10px 0;
		    		color: #fff;

		    		address {
			    		font-size: 14px;
			    		color: #89949D;
			    	}

			    	@media (max-width: $bp-md - 1px) {
			    		h5 {
			    			font-size: 1rem;
			    		}

			    		address {
			    			margin-bottom: 0;
			    		}
			    	}
		    	}
    		}
    	}
    }

    &.active {
        &:before {
            @include transform(scaleY(1) translateZ(0));
            @include transition(transform .6s cubic-bezier(.23,1,.32,1));
        }

        nav.header-menu--inner {
        	.menu-main {
	    		opacity: 1;
	    		@include transform(translateY(0) translateZ(0));
	    		@include transition(transform .8s cubic-bezier(.23,1,.32,1) .2s, opacity .8s cubic-bezier(.23,1,.32,1) .2s);
	    	}

	    	.menu-content {
	    		opacity: 1;
	    		@include transform(translateY(0) translateZ(0));
	    		@include transition(transform .8s cubic-bezier(.23,1,.32,1) .3s, opacity .8s cubic-bezier(.23,1,.32,1) .3s);
	    	}

	    	.menu-places {
	    		opacity: 1;
	    		@include transform(translateY(0) translateZ(0));
	    		@include transition(transform .8s cubic-bezier(.23,1,.32,1) .5s, opacity .8s cubic-bezier(.23,1,.32,1) .5s);
	    	}
        }
    }
}

/* FOOTER
-------------------------------------------- */
#bottom-section {
	position: relative;

	#back-top {
		position: absolute;
		z-index: 2;
		font-size: 2.5rem;
		left: 50%;
		top: 40px;
		margin-left: -20px;

		@include opacity(0.5);

		&:hover {
	        @include opacity(1);

	        -webkit-animation: jump .5s 2 linear;
		    -moz-animation: jump .5s 2 linear;
		    -o-animation: jump .5s 2 linear;
		    animation: jump .5s 2 linear;
	    }

		i {
			display: block;
			@include transform(rotate(-90deg));

			&:before {
				display: block;
				margin: 0 auto;
			}
		}
	}

	.section--inner {
		padding: 3rem 0;
		margin-top: 8rem;
		margin-bottom: 4rem;
	}

	figure {
		max-width: 75px;

		@media (max-width: $bp-md - 1px) {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.bottom-nav {
		@media (max-width: $bp-md - 1px) {
			margin: 1rem 0;
		}

		.nav-list {
			li {
				padding: 5px;

				a {
					font-weight: normal;
					font-size: 28px;
					letter-spacing: 0.7px;
				}
			}

			@media (min-width: $bp-md) {
				li {
					display: inline-block;
					padding: 10px 25px;
				}
			}
		}
	}

	.social {
		@media (max-width: $bp-md - 1px) {
			text-align: center;
		}

		a {
			@include opacity(0.5);

			&:hover {
		        @include opacity(1);
		    }
		}
	}
}

#footer {
	position: relative;
	z-index: 2;

	.container {
		.footer--inner {
			padding: 1rem 0;
			font-size: 11px;

			@media (max-width: $bp-s - 1px) {
				font-size: 10px;
			}

			p, a {
				letter-spacing: 1px;
			}
		}
	}
}

/* CONTENT
-------------------------------------------- */
body.home {
	main {
		.about-more-head h4,
		.home-project-header h4,
		.clients-header h4 {
			@media (min-width: $bp-xl) {
				font-size: 38px;
			}
		}

		#home-hero {
			position: relative;
			z-index: 0;

			.section--inner {
				position: relative;

				#sliderHome {
					.item {
						figure {
							position: relative;

							img {
								display: block;
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
					}
				}

				.hero-heading {
					position: absolute;
					z-index: 2;
					padding-left: 20px;
					padding-right: 20px;
					min-width: 800px;
					top: 45%;
					left: 50%;
					@include transform(translate(-50%, -50%));

					@media (max-width: $bp-xl - 1px) {
						min-width: fit-content;
					}

					h1 {
						@media (min-width: $bp-xl) {
							font-size: 58px;
						}
					}

					p {
						text-transform: uppercase;
						font-size: 16px;
						letter-spacing: 1.5px;
					}
				}

				.hero-cta {
					position: absolute;
					z-index: 2;
					padding-left: 20px;
					padding-right: 20px;
					bottom: 10%;
					left: 50%;
					@include transform(translateX(-50%));

					.btn-cta {
						padding-right: 2rem;
						padding-left: 2rem;
					}

					.link-scroll {
						margin-top: 1rem;
						display: inline-block;
						font-size: 28px;
						
						i {
							display: block;
							@include transition(all 200ms ease-out);
						}

						&:hover {
							i {
								@include transform(translateY(5px));
							}
						}
					}
				}
			}
		}

		#home-about {
			background-color: #000;
			color: #fff;

			.section--inner {
				.about-content {
					padding: 20px;
					max-width: 560px;
					margin-left: auto;
					margin-right: auto;
					position: relative;

					&:before {
						content: '';
						width: 1px;
						height: 125px;
						background-color: #fff;

						position: absolute;
						top: -175px;
						left: calc(50% - 1px);
					}

					p {
						opacity: 0.7;
					}

					h5 {
						margin: 1.5rem 0;
						line-height: 40px;
						letter-spacing: 0.3px;
					}
				}
			}
		}

		#home-about-interaction {
			background-color: $darkGray;
			position: relative;
			overflow: hidden;

			.close {
				position: absolute;
				top: 4rem;
				right: 4rem;
				opacity: 0;
				@include transition(opacity 200ms ease-out);

				@media (max-width: $bp-md - 1px) {
					top: 1.5rem;
					right: 1.5rem;
				}
			}

			.section--inner {
				#interaction-detail {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;

					.detail-item {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;

						.detail-image,
						.detail-text {
							@media (min-width: $bp-lg){
								flex: 0 0 50%;
								max-width: 50%;
							}
						}

						.detail-image {
							@include transform(translateX(-100%) translateZ(0));
							@include transition(transform .75s cubic-bezier(.23,1,.32,1) .1s);

							.detail-image--inner {
								/*background-image: url(../uploads/_temp/img-dummy-1.jpg);*/
								background-size: cover;
								background-repeat: no-repeat;
								background-position: center;

								.overlay.black {
									background-color: rgba(0,0,0,0.85);
									@include transition(opacity .75s cubic-bezier(.23,1,.32,1) .1s);
								}

								span.initial {
									font-size: 15rem;
									color: #444;
									position: absolute;
									top: 50%;
									right: 7%;
									@include transform(translateY(-50%));
									@include transition(opacity .75s cubic-bezier(.23,1,.32,1) .1s);
								}
							}
						}

						.detail-text {
							padding: 20px;


							@media (max-width: $bp-md - 1px) {
								height: 100%;
							}

							p {
								font-size: 14px;
							}

							@media (min-width: $bp-md) {
								padding: 20px 5rem;
							}

							@media (min-width: $bp-lg) {
								p {
									font-size: 16px;
								}
							}

							@media (min-width: $bp-xl) {
								padding: 20px 7rem;
							}

							h2 {
								position: relative;

								span {
									font-size: 13px;
									position: absolute;
									left: 0;
									top: -20px;

									@media (min-width: $bp-md) {
										left: -25px;
										top: 27px;
									}
								}
							}
						}

						&.is-hover {
							.detail-image {
								@include transform(translateX(-60%) translateZ(0));
							}
						}

						&.is-active {
							.detail-image {
								@include transform(translateX(0) translateZ(0));

								.detail-image--inner {
									.overlay.black,
									span.initial {
										opacity: 0;
									}
								}
							}

							.content-line_slide {
								opacity: 1;
	                            @include transform(rotate(0) rotateX(0) translateX(0) translateY(0) translateZ(0));

	                            &:first-child {
	                                @include transition(transform 1s cubic-bezier(.23,1,.32,1) .4s, opacity .5s cubic-bezier(.165,.84,.44,1) .4s);
	                            }

	                            &:nth-child(2) {
	                                @include transition(transform 1s cubic-bezier(.23,1,.32,1) .5s, opacity .5s cubic-bezier(.165,.84,.44,1) .5s);
	                            }
							}
						}
					}
				}

				#interaction-list {
					// opacity: 0;

					ul {
						li {
							@include transform(translateX(0) translateZ(0));

							&:first-child {
								@include transition(transform .7s cubic-bezier(.23,1,.32,1) .0s,opacity .45s cubic-bezier(.165,.84,.44,1) .0s);
							}

							&:nth-child(2) {
								@include transition(transform .7s cubic-bezier(.23,1,.32,1) .1s,opacity .45s cubic-bezier(.165,.84,.44,1) .1s);
							}

							&:nth-child(3) {
								@include transition(transform .7s cubic-bezier(.23,1,.32,1) .2s,opacity .45s cubic-bezier(.165,.84,.44,1) .2s);
							}
							a {
								display: inline-block;
								padding: 12px 0;

								span:first-child {
									font-size: 13px;
								}

								span:nth-child(2){
									@extend .h2;
									font-weight: normal;
									display: inline-block;
									margin-left: 5px;
									margin-bottom: 0;
									position: relative;
									@include transition(all 400ms ease-out);

									@media (max-width: $bp-md - 1px) {
										font-size: 24px;
									}
								}

								&:hover {
									span:nth-child(2){
										@include transform(translateX(20px));
									}
								}
							}
						}
					}
				}
			}

			&.is-opened {
				.close {
					opacity: 1;
				}

				.section--inner {
					#interaction-list ul li {
						opacity: 0;
						@include transform(translateX(50px) translateZ(0));

						&:first-child {
							@include transition(transform .7s cubic-bezier(.23,1,.32,1) .0s,opacity .45s cubic-bezier(.165,.84,.44,1) .0s);
						}

						&:nth-child(2) {
							@include transition(transform .7s cubic-bezier(.23,1,.32,1) .1s,opacity .45s cubic-bezier(.165,.84,.44,1) .1s);
						}

						&:nth-child(3) {
							@include transition(transform .7s cubic-bezier(.23,1,.32,1) .2s,opacity .45s cubic-bezier(.165,.84,.44,1) .2s);
						}
					}
				}
			}
		}

		#home-about-more {
			background-color: #000;

			.section--inner {
				.about-more-head {
					margin: 2rem 0;

					h4 {
						span {
							display: block;
						}
					}
				}

				.about-more-content {
					.more-item {
						padding: 1rem 0;
						margin-top: 2rem;
						border-bottom: 1px solid #707070;

						@media (min-width: $bp-md) {
							h4 {
								flex: 0 0 65%;
								max-width: 65%;
							}
						}

						a {
							font-size: 14px;

							@media (max-width: $bp-md - 1px) {
								font-size: 12px;
							}
						}
					}
				}
			}
		}

		#home-projects {

			.home-project-header {
				margin-bottom: 3rem;
			}

			.more {
				margin-top: 4rem;

				a {
					font-size: 12px;

					&.btn {
						padding-left: 3rem;
						padding-right: 3rem;
					}
				}
			}

			.ongoing {
				.ongoing--inner {
					.home-project-body {
						.ongoing-left {
							figure {
								max-width: 400px;
								margin-left: auto;
								margin-right: auto;
							}

							@media (max-width: $bp-xl - 1px) {
								figure {
									max-width: 300px;
								}
							}

							@media (max-width: $bp-md - 1px) {
								margin-bottom: 2rem;

								figure {
									max-width: 200px;
								}
							}
						}

						.ongoing-right {
							.video-card {
								border-radius: 6px;
								overflow: hidden;
							}
						}
					}
				}
			}

			.recent {
				background-color: #000;

				.recent--inner {
					.home-project-body {
						.project-image {
							a {
								width: 100%;
								height: 0;
								position: relative;

								figure {
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 100%;

									img {
										width: 100%;
										height: 100%;
										object-fit: cover;
									}
								}

								figcaption {
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 100%;
									padding: 1.5rem 3rem;
									background-color: rgba(0, 0, 0, 0.45);
									opacity: 0;
									@include transition(opacity 200ms ease-out);

									@media (max-width: $bp-xl - 1px) {
										padding: 1rem 2rem;
										opacity: 1;
									}

									p {
										color: #fff;
										margin: 0;

										&:first-child {
											position: relative;

											&:before {
												content: '';
												display: block;
												position: absolute;
												top: 10px;
												left: -20px;
												width: 8px;
												height: 8px;
												background-color: #02feb2;
											}
										}
									}
								}

								&:hover {
									figcaption {
										opacity: 1;
									}
								}
							}
						}

						.col-left {
							.project-image {
								a {
									padding-bottom: 133.334%;
								}
							}

							@media (max-width: $bp-md - 1px) {
								margin-bottom: 20px;
							}
						}

						.col-right {
							.project-image {
								a {
									padding-bottom: calc(66.67% - 15px);
								}

								&:last-child {
									margin-top: 30px;
								}
							}
						}
					}
				}
			}
		}

		#home-clients {
			background-color: $darkGray;

			.clients-body {
				.row {
					-webkit-box-pack: center;
    				-ms-flex-pack: center;
    				justify-content: center;

	    			.item {
	    				flex: 0 0 25%;
	    				max-width: 25%;
	    				padding: 20px;

						@media (max-width: $bp-md - 1px) {
							flex: 0 0 50%;
	    					max-width: 50%;
						}

	    				figure img {
	    					@extend .img-fluid;
	    				}
	    			}
				}

				.btn-holder {
    				margin-top: 2rem;

    				a {
    					font-size: 12px;
    				}
    			}
			}
		}

		#home-mood-bottom {
			background-color: $darkGray;
			margin-top: -4rem;

			@media (max-width: $bp-md - 1px) {
				margin-top: -8rem;
			}

			&:before {
				margin: 0;
				position: relative;
				top: 50px;
			}

			.bg-holder {
				background-image: url(../uploads/home-mood-1.jpg);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
		}

		#home-subscribe {
			background-color: #000;

			.section--inner {
				max-width: 600px;
				margin-left: auto;
				margin-right: auto;
				padding-left: 20px;
				padding-right: 20px;

				h3 {
					margin-bottom: 1.5rem;
				}

				> p {
					@media (max-width: $bp-md - 1px) {
						font-size: 1rem;
					}
				}

				form#subscribe-form {
					margin-top: 4rem;
					max-width: 400px;
					margin-left: auto;
					margin-right: auto;

					.form-group {
						position: relative;

						input {
							display: block;
							width: 100%;
							padding-right: 40px;
							border-bottom: 2px solid #fff !important;
						}

						button[type="submit"] {
							background-color: transparent;
							padding: 1rem 10px;
							color: $teel;
							position: absolute;
							bottom: 0;
							right: 0;
							@include transform(translateX(0));
							@include transition(all 200ms ease-in-out);

							&:hover {
								@include transform(translateX(10px));
							}

							i {
								display: block;

								&:before {
									margin: 0;
									display: block;
								}
							}
						}
					}
				}
			}
		}
	}
}

body.projects {
	main {
		#project-hero {
			position: relative;
			z-index: 0;

			.section--inner {
				position: relative;

				figure {
					position: relative;

					img {
						display: block;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				.hero-heading {
					position: absolute;
					z-index: 2;
					padding-left: 20px;
					padding-right: 20px;
					max-width: 700px;
					top: 50%;
					left: 50%;
					@include transform(translate(-50%, -50%));

					h1 {
						@media (min-width: $bp-md) {
							font-size: 53px;
						}
					}

					p {
						text-transform: uppercase;
						font-size: 16px;
						letter-spacing: 1.5px;
					}
				}
			}
		}

		#project-body {
			background-color: #000;

			.container {
				overflow: hidden;
			}

			.project-filter {
				margin-bottom: 3rem;
				max-width: 160px;
				@extend .clearfix;

				> div {
					float: left;
				}

				.filter-header {
					position: relative;
					background-color: #000;
					z-index: 2;

					a {
						font-family: 'ClanPro-News';

						@media (min-width: $bp-xl) {
							font-size: 22.5px;
						}
					}
					
				}

				.filter-list {
					opacity: 0;

					li {
						a {
							&.active {
								color: $teel;
							}
						}
					}

					@media (min-width: $bp-xl) {
						position: relative;
						white-space: nowrap;
						margin-left: 1rem;

						@include transform(translateX(-100%));
						@include transition(all 300ms ease-out);

						li {
							display: inline-block;
							margin: 0 10px;

							font-size: 22.5px;

							a {
								display: block;
								position: relative;
								font-family: 'ClanPro-News';

								i {
									position: absolute;
									font-size: 14px;
									left: 50%;
									margin-left: -10px;
									display: block;
									opacity: 0;

									@include transform(translateY(-10px) rotate(90deg));
									@include transition(all 200ms ease-out);
								}

								&:hover {
									i {
										opacity: 1;
										@include transform(translateY(0) rotate(90deg));
									}
								}

								&.active {
									color: $teel;

									i {
										opacity: 1;
										@include transform(translateY(0) rotate(90deg));
									}
								}
							}

							
						}
					}
				}

				&:hover {
					@media (min-width: $bp-xl){
						max-width: none;

						.filter-header {
							a {
								text-decoration: underline !important;
							}
						}

						.filter-list {
							@include transform(translateX(30px));
							opacity: 1;
						}
					}
				}

				@media (max-width: $bp-xl - 1px) {
					max-width: none;
					text-align: center;
					pointer-events: none;

					> div {
						float: none;
						pointer-events: auto;
					}

					.filter-header {
						margin-bottom: 2rem;

						a {
							display: inline-block;
							padding: 7px 15px;
							border: 2px solid #fff;
							text-decoration: none !important;
						}
					}

					.filter-list {
						opacity: 1;
						display: none;
						pointer-events: auto;

						li {
							a {
								padding: 5px 10px;
								display: inline-block;

								i {
									display: none;
								}
							}
						}
					}
				}
			}

			.project-body {
				.project-body--inner {
					.row {
						.item {
							padding: 15px;
						}

						.project-image {
							

							a {
								width: 100%;
								height: 0;
								position: relative;

								figure {
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 100%;

									img {
										width: 100%;
										height: 100%;
										object-fit: cover;
									}
								}

								figcaption {
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 100%;
									padding: 1.5rem 3rem;
									background-color: rgba(0, 0, 0, 0.45);
									opacity: 0;
									@include transition(opacity 200ms ease-out);

									@media (max-width: $bp-xl - 1px) {
										padding: 1rem 2rem;
										opacity: 1;
									}

									p {
										color: #fff;
										margin: 0;
										font-family: 'ClanPro-News', Arial, sans-serif;

										@media (min-width: $bp-xl) {
											font-size: 24px;
										}

										&:first-child {
											position: relative;

											&:before {
												content: '';
												display: block;
												position: absolute;
												top: 10px;
												left: -20px;
												width: 8px;
												height: 8px;
												background-color: #02feb2;
											}
										}
									}
								}

								&:hover {
									figcaption {
										opacity: 1;
									}
								}
							}
						}

						.portrait {
							.project-image {
								a {
									padding-bottom: 133.334%;
								}
							}
						}

						.landscape {
							.project-image {
								a {
									padding-bottom: calc(66.67% - 15px);
								}

								// &:last-child {
								// 	margin-top: 30px;
								// }
							}
						}
					}

					.more {
						margin-top: 3rem;

						a {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}

body.project-detail {
	#header {
		#navbarMenu {
			.headnav-list {
				li {
					color: #fff;
				}
			}
		}
	}

	main {
		#project-name {
			background-color: #000;
			color: #fff;

			p {
				font-size: 14px;
			}

			h1 {
				font-weight: normal;

				@media (min-width: $bp-xl) {
					font-size: 80px;
				}
			}
		}

		#project-intro {
			figure {
				position: relative;

				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.intro-text {
				.project-intro-info {
					ul {
						li {
							margin-bottom: 20px;

							p {
								font-size: 14px;
							}
						}
					}
				}

				.project-intro-content {
					h5 {
						margin-bottom: 1rem;
					}
				}
			}
		}

		#project-video {
			background-color: #151F50;

			.video {
				border-radius: 10px;
				background-color: #000;
				overflow: hidden;
			}
		}

		#project-preview {
			.preview-intro {
				margin-bottom: 3rem;

				@media (min-width: $bp-md) {
					max-width: 600px;
				}
			}

			.preview-row {
				margin-bottom: 30px;

				a {
					outline: none !important;
				}

				&[data-columns="false"] {
					.row {
						> * {
							@extend .col-12;
						}
					}
				}

				&[data-columns="true"] {
					.row {
						@extend .flexed-desktop;

						> * {
							@extend .col-md-6;

							@media (max-width: $bp-md - 1px) {
								&:nth-child(2) {
									margin-top: 30px;
								}
							}
						}
					}
				}
			}

			.back-to-top {
				margin-top: 4rem;
				
				#back-top {
					font-size: 2.5rem;
					display: inline-block;

					@include opacity(0.5);

					&:hover {
				        @include opacity(1);

				        -webkit-animation: jump .5s 2 linear;
					    -moz-animation: jump .5s 2 linear;
					    -o-animation: jump .5s 2 linear;
					    animation: jump .5s 2 linear;
				    }

					i {
						display: inline-block;
						@include transform(rotate(-90deg));

						&:before {
							display: block;
							margin: 0 auto;
						}
					}
				}
			}
		}

		#next-project {
			position: relative;
			
			background-color: #000;
			color: #fff;
			
			.section--inner {
				a {
					position: relative;
					padding: 11.5rem 0;

					figure {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						overflow: hidden;

						img {
							display: block;
							width: 100%;
							height: 100%;
							object-fit: cover;
							@include transform(scale(1));
							@include transition(transform 1000ms ease-in-out);
						}
					}

					.next-project-title {
						h6 {
							margin-bottom: 2rem;
						}
						
						p:not(.h1) {
							font-size: 14px;
							font-family: 'ClanPro-News', Arial, sans-serif;
						}
					}

					&:hover {
						figure {
							img {
								@include transform(scale(1.05));
							}
						}
					}
				}
			}
		}
	}
}

body.project.ongoing {
	main {
		.section-title {
			color: $darkBlue;
		}

		#landing-intro {
			.section--inner {
				position: relative;

				.hero-heading {
					h1 {
						line-height: 1.25;

						span {
							opacity: 0.5;
						}
					}
				}
			}
		}

		#project-featured {
			background-color: #fff;
			color: $darkBlue;

			.section--inner {
				.feature-top {
					background-image: url(img/bg-product.jpg);
		    		background-position: 0% 100%;
		    		background-size: 100%;
		    		background-repeat: no-repeat;

		    		.ag-logo {
    					max-width: 350px;
	    				margin-left: auto;
	    				margin-right: auto;
		    		}

		    		@media (max-width: $bp-lg - 1px) {
		    			max-height: 600px;
		    		}

		    		@media (max-width: $bp-md - 1px) {
		    			max-height: 400px;

	    				.ag-logo {
	    					max-width: 250px;
		    				margin-left: auto;
		    				margin-right: auto;
			    		}
	    			}

					h4 {
						padding: 10px 20px;
						display: inline-block;
						margin-top: 2rem;
						color: #fff;
						background-color: $red;
					}
				}

				.store-locator {
					.store-locator-head {
						background-color: $darkBlue;
						padding-top: 30px;
						padding-bottom: 30px;

						h3 {
							color: #fff;
						}
					}

					.store-locator-body {
						.store-location {
							background-image: url(img/bg-pattern-1.png), url(img/orn-flower.png);
				    		background-position: 100% 0, 10% 90%;
				    		background-size: auto 340px, auto auto;

				    		@media (max-width: $bp-lg - 1px) {
				    			background-size: auto 180px, auto auto;
				    		}

							.location-col {
								padding-top: 10px;
								padding-bottom: 10px;

								h5 {
									margin-bottom: 1rem;
								}

								ul {
									li {
										text-transform: uppercase;
										font-size: 1rem;
										padding: 2px 0;

										@media (max-width: $bp-md - 1px) {
											font-size: 14px;
										}

										@media (max-width: $bp-s - 1px) {
											font-size: 13px;
										}

										&:before {
											content: '-';
											margin-right: 5px;
										}
									}
								}
							}
						}
					}
				}

				.project-video {
					.section--inner {
						padding-bottom: 3rem;

						.video {
							position: relative;
							background-color: $darkBlue;

							.thumb-container {
								position: absolute;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								background-size: cover;
								background-repeat: no-repeat;
								background-position: 50% 50%;

								.start-video {
									position: absolute;
									display: block;
									top: 50%;
									left: 50%;
									width: 60px;
									height: 60px;
									padding: 20px;
									text-align: center;
									font-size: 20px;
									color: #fff;
									background-color: #0e8de4;
									text-decoration: none;
									@include opacity(0.75);
									@include transition(opacity .2s ease-out);
									@include transform(translate(-50%, -50%));

									i:before {
										display: block;
										margin: 0 auto;
									}

									&:hover {
										@include opacity(1);
									}
								}
							}
						}
					}
				}
			}
		}

		#about {
			background-color: #fff;

			.about-top {
				color: $darkBlue;

				background-image: url(img/orn-flower.png);
	    		background-position: 0 90%;
	    		background-size: auto auto;
			}

			.about-bottom {
				.about-image {
					a {
						width: 100%;
						height: 0;
						position: relative;

						figure {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;

							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}

						figcaption {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							padding: 1.5rem 3rem;
							background-color: rgba(0, 0, 0, 0.45);
							opacity: 0;
							@include transition(opacity 200ms ease-out);

							@media (max-width: $bp-xl - 1px) {
								padding: 1rem 2rem;
								opacity: 1;
							}

							p {
								color: #fff;
								margin: 0;

								&:first-child {
									position: relative;

									&:before {
										content: '';
										display: block;
										position: absolute;
										top: 10px;
										left: -20px;
										width: 8px;
										height: 8px;
										background-color: #02feb2;
									}
								}
							}
						}

						&:hover {
							figcaption {
								opacity: 1;
							}
						}
					}
				}

				.col-left {
					.about-image {
						a {
							padding-bottom: 133.334%;
						}
					}
				}

				.col-right {
					.about-image {
						a {
							padding-bottom: calc(66.67% - 15px);
						}

						&:last-child {
							margin-top: 30px;
						}
					}
				}
			}
		}

		#enquiries {
			background-color: #fff;

			.section-content {
				p {
					color: #1C2A57;
				}

				p.footnote {
					font-size: 16px;
					color: #000;
				}

				form {
					margin: 2rem 0 1rem;

					textarea {
						height: 200px;
						resize: none;

						@media (min-width: $bp-xl) {
							height: 300px;
						}
					}

					button[type="submit"]{
						margin-top: 1.5rem;
						font-size: 12px;
						margin-bottom: 2rem;

						@media (min-width: $bp-md) {
							font-size: 14px;
						}
					}
				}
			}
		}

		#contact {
			background-color: #fff;

			.container {
				background-image: url(img/orn-flower.png);
	    		background-position: 0 90%;
	    		background-size: auto 200px;
			}

			.section-content {
				color: #1a1a1a;
			}
		}

		#landing-license {
	    	background-color: #1c213e;

	    	.section--inner {
	    		.license-top {
	    			padding-left: 20px;
	    			padding-right: 20px;
	    			color: #fff;

	    			h5 {
	    				margin-bottom: 2rem;
	    			}
	    		}

	    		.license-bottom {
	    			.license-bottom-holder {
	    				margin-left: 0;
	    				margin-right: 0;
	    				-webkit-box-pack: center;
	    				-ms-flex-pack: center;
	    				justify-content: center;

		    			.item {
		    				flex: 0 0 20%;
		    				max-width: 20%;

							@media (max-width: $bp-md - 1px) {
								flex: 0 0 33.334%;
		    					max-width: 33.334%;
							}

		    				figure img {
		    					display: block;
		    					width: 100%;
		    				}
		    			}
	    			}

	    			.btn-holder {
	    				margin-top: 2rem;

	    				a {
	    					font-size: 12px;
	    				}
	    			}
	    		}
	    	}
	    }
	}
}

body.company {
	background-color: #000;

	@media (max-width: $bp-md - 1px) {
		h3 {
			font-size: 1.35rem;
		}

		h5 {
			font-size: 20px;
		}
	}

	h3 {

	}

	main {
		#company-top-nav {
			padding: 20px 0;
			margin-top: 80px;

			@media (max-width: $bp-md - 1px) {
				margin-top: 30px;
			}

			.nav--inner {
				@media (max-width: $bp-md - 1px) {
					-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				    justify-content: space-between;
				}

				h5 {
					@media (min-width: $bp-md) {
						margin-right: 2rem;
					}

					@media (max-width: $bp-md - 1px) {
						font-size: 1rem;
					}

					a {
						display: block;
						padding: 2px 0;
						border-bottom: 2px solid transparent;

						&:hover {
							color: $teel;
						}
					}

					&.active {
						a {
							color: $teel;
							border-color: $teel;
						}
					}
				}
			}
		}

		#company-intro {
			.intro-text {
				padding-bottom: 90px;
				padding-top: 30px;

				p.small {
					color: #89949D;
					margin-bottom: 1rem;
				}

				p:not(.small) {
					max-width: 670px;
					margin: 2rem 0 0;
				}

				h1 {
					font-size: 2rem;
				}

				@media (min-width: $bp-md) {
					

					h1 {
						font-size: 48px;
						line-height: 78px;
						
					}
				}
			}
		}

		#company-content {
			.content-block {
				& + .content-block {
					border-top: 1px solid $gray;
				}

				.content-head {
					margin-bottom: 2rem;
				}

				.content-body {
					.content-body--inner {
						p, ul, blockquote, figure, .video {
							margin-bottom: 3rem;
						}

						.section-large-text {
							color: #89949D;
							line-height: 44px;
							margin-bottom: 1.25rem;
						}

						.video {
							border-radius: 5px;
							overflow: hidden;
						}

						blockquote {
							font-size: 22.5px;
							line-height: 39px;
							font-weight: normal;
						}

						ul {
							li {
								margin-bottom: 0.65rem;

								&:before {
					    			content: '';
					    			display: inline-block;
					    			vertical-align: middle;
					    			width: 15px;
					    			height: 1px;
					    			margin-right: 10px;
					    			background-color: #fff;
					    		}
							}

							&.two-col {
								@media (min-width: $bp-md) {
									-webkit-column-count: 2;
								    -moz-column-count: 2;
								    column-count: 2;
								    -moz-column-fill: balance;
       								column-fill: balance;
								}

								li {
									border-bottom: 1px solid #fff;

									&:before {
										content: none;
									}
								}
							}
						}
					}
				}
			}
		}

		#company-talk {
			background-color: #1b1b1b;
			
			@media (min-width: $bp-md) {
				min-height: 655px;
				@extend .flexed-desktop;

				> * {
					width: 100%;
				}
			}

			.talk-holder {
				h3 {
					margin-bottom: 40px;

					@media (min-width: $bp-md) {
						margin-bottom: 60px;
					}
				}
			}
		}

		#company-nav {
			.section--inner {
				.row {
					> * {
						a {
							height: 0;
							padding-bottom: 66.6667%;
							position: relative;

							figure {
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								overflow: hidden;

								img {
									width: 100%;
									height: 100%;
									object-fit: cover;
									@include transform(scale(1));
									@include transition(transform 1000ms ease-in-out);
								}

								.overlay {
									@include transition(all 300ms ease-in-out);
								}
							}

							.nav-text {
								position: absolute;
								top: 20px;
								left: 20px;

								p {
									color: #fff !important;
									margin: 0;
									font-family: 'ClanPro-News', Arial, sans-serif;

									&.nav-title {
										@extend .h2;
										font-weight: normal;
									}
								}
							}

							&:hover {
								figure {
									img {
										@include transform(scale(1.05));
									}

									.overlay {
										opacity: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

body.company.who {
	main {
		#company-intro {
			.intro-image.has-video {
				.video {
					border-radius: 5px;
					overflow: hidden;
				}
			}
		}

		#company-scopes {
			.scopes-item {
				padding-top: 15px;
				padding-bottom: 15px;

				figure {
					margin-bottom: 2rem;
				}

				figcaption {
					h5 {
						margin-bottom: 1rem;
					}

					a.link {
						font-size: 14px;
					}
				}
			}
		}

		#testimony-slider {
			background-color: #1b1b1b;

			.slider-holder {
				margin-top: 3rem;

				.slider {
					.owl-item {
						.item {
							overflow: hidden;
							padding-left: 2rem;
							padding-right: 2rem;

							.profile-thumb {
								position: relative;
								@extend .clearfix;

								> * {
									float: left;
									position: relative;
								}

								figcaption {
									@media (max-width: $bp-md - 1px) {
										margin-top: 0.75rem;

										h5 {
											font-size: 1.25rem;
										}
									}
								}
							}

							.profile-info {
								margin-top: 1rem;

								.profile-name {
									color: $teel;
								}

								.profile-position {
									font-size: 14px;
								}
							}

							@media (min-width: $bp-md) and (max-width: $bp-xl - 1px) {
								padding-left: 4rem;
								padding-right: 4rem;

								.profile-thumb {
									figure {
										width: 250px;
									}

									figcaption {
										width: calc(100% - 250px);
										padding-left: 2rem;
									}
								}
							}

							@media (min-width: $bp-xl) {
								max-width: 850px;
								margin-left: auto;
								margin-right: auto;

								.profile-thumb {
									figcaption {
										position: absolute;
										width: 60%;
										top: 50%;
										left: 50%;
										@include transform(translate(-20%, -50%));
									}
								}
							}
						}

						&.active {
							.content-line_slide {
								opacity: 1;
	                            @include transform(rotate(0) rotateX(0) translateX(0) translateY(0) translateZ(0));

	                            &:first-child {
	                                @include transition(transform 1s cubic-bezier(.23,1,.32,1) .4s, opacity .5s cubic-bezier(.165,.84,.44,1) .4s);
	                            }

	                            &:nth-child(2) {
	                                @include transition(transform 1s cubic-bezier(.23,1,.32,1) .5s, opacity .5s cubic-bezier(.165,.84,.44,1) .5s);
	                            }
							}
						}
					}

					.owl-nav {
					    position: absolute;
					    top: 40%;
					    left: 0;
					    width: 100%;

					    > * {
					        position: absolute;
					        background-color: transparent;
					        border: 1px solid $teel;
					        width: 40px;
					        height: 40px;
					        outline: 0 !important;
					        @include transform(translateY(-100%));

					        &.disabled {
					        	opacity: 0.3;
					        }

					        &.owl-prev {
					            left: -20px;
					        }

					        &.owl-next {
					            right: -20px;
					        }

					        a {
					            display: block;
					            font-size: 1rem;
					            text-align: center;
					        }
					    }
					}

					.owl-dots {
					    margin-top: 3rem;
					    text-align: center;

					    .owl-dot {
					        display: inline-block;
					        background-color: transparent;
					        border: none;
					        
					        outline: 0 !important;

					        span {
					            display: inline-block; 
					            background: #000;
					            border: none;
					            margin: 0 15px;
					            height: 70px;
					            width: 70px;
					            border-top: 2px solid transparent;
					            background-size: cover;
						        background-repeat: no-repeat;
						        background-position: center;
						        opacity: 0.5;
						        @include transition(all 200ms ease-in-out);
					        }

					        &:hover span {
					            border-color: $teel;
					            opacity: 1;
					        }

					        &.active span {
					            border-color: $teel;
					            opacity: 1;
					        }
					    }
					}
				}
			}
		}

		#company-partners {
			background-color: #fff;

			.section--inner {
				h3 {
					color: $gray;
				}

				.clients-body {
					.row {
						-webkit-box-pack: center;
	    				-ms-flex-pack: center;
	    				justify-content: center;

		    			.item {
		    				flex: 0 0 25%;
		    				max-width: 25%;
		    				padding: 30px 20px;

							@media (max-width: $bp-md - 1px) {
								flex: 0 0 50%;
		    					max-width: 50%;
							}

		    				figure img {
		    					@extend .img-fluid;
		    				}
		    			}
					}

					.btn-holder {
	    				margin-top: 4rem;

	    				a {
	    					font-size: 14px;
	    					background-color: #0E8DE4;
	    					color: #fff;
	    				}
	    			}
				}
			}
		}

		#company-people {
			.team-holder {
				margin-top: 4rem;
				margin-bottom: 4rem;

				.profile-item {
					padding-top: 15px;
					padding-bottom: 15px;

					figure {
						overflow: hidden;

						img {
							display: block;
							width: 100%;
							@include transform(scale(1));
							@include transition(transform 1500ms ease-in-out);
						}
					}


					figcaption {
						.profile-position {
							color: #666;
						}
					}

					&:hover {
						figure img {
							@include transform(scale(1.05));
						}

						figcaption {
							.profile-name {
								color: $teel;
							}
						}
					}
				}
			}

			.job-cta {
				font-size: 14px;
			}
		}

		#company-mood {
			background-color: #000;

			&:before {
				margin: 0;
				position: relative;
				top: 50px;
			}
		}

		#company-location {
			background-color: #000;

			h3 {
				margin-bottom: 4rem;

				span {
					font-family: 'Aktiv Grotesk', Arial, sans-serif;
					font-size: 22px;
				}
			}

			figure {
				margin-bottom: 2rem;
			}

			figcaption {
				h5 {
					margin-bottom: 1rem;
				}
			}
		}

		#company-talk {
			background-color: #1b1b1b;
		}

		#company-nav {
			padding: 0;
		}
	}
}

body.company.why {
	main {
		#company-content {
			.content-block {
				.content-body {
					@media (min-width: $bp-md) {
						max-width: 500px;
						margin-left: auto;
						margin-right: auto;
					}

					@media (min-width: $bp-xxl) {
						max-width: 600px;
						margin-left: auto;
						margin-right: auto;
					}
					
					.content-body--inner {
						.content-header {
							margin-bottom: 2rem;
						}
					}
				}
			}
		}
	}
}

body.contact {
	main {
		#contact-hero {
			position: relative;
			z-index: 0;

			.section--inner {
				position: relative;

				figure {
					position: relative;

					img {
						display: block;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				.hero-heading {
					position: absolute;
					z-index: 2;
					padding-left: 20px;
					padding-right: 20px;
					max-width: 700px;
					top: 50%;
					left: 50%;
					@include transform(translate(-50%, -50%));

					p {
						text-transform: uppercase;
						font-size: 16px;
						letter-spacing: 1.5px;
					}
				}
			}
		}

		#contact-body {
			background-color: #000;
			padding-top: 2rem;

			.contact-top {
				.col-left {
					@media (max-width: $bp-md - 1px) {
						margin-bottom: 4rem;
					}
				}
				.col-right {
					.contact-reach {
						margin-bottom: 3rem;

						h5 {
							margin-bottom: 1rem;
						}
					}
				}
			}

			.contact-bottom {
				.mood-holder {
					position: relative;

					.mood-text {
						position: absolute;
						top: 50%;
						left: 50%;
						width: 75%;
						@include transform(translate(-50%, -50%));
					}
				}
			}
		}

		#contact-location {
			background-color: #000;

			.location-top {
				.col-left {
					@media (max-width: $bp-md - 1px) {
						margin-bottom: 4rem;
					}
				}
				.col-right {
					.loc {
						margin-bottom: 3rem;

						h5 {
							margin-bottom: 1rem;
						}

						address {
							color: #89949D;

							strong {
								color: #fff;
							}
						}
					}
				}
			}

			.location-bottom {
				#map {
					@media (max-width: $bp-md - 1px) {
						height: 320px !important;
					}
				}
			}
		}

		#contact-talk {
			background-color: #000;

			// background-color: #1b1b1b;
			
			@media (min-width: $bp-md) {
				min-height: 655px;
				@extend .flexed-desktop;

				> * {
					width: 100%;
				}
			}

			.talk-holder {
				h3 {
					margin-bottom: 40px;

					@media (min-width: $bp-md) {
						margin-bottom: 60px;
					}
				}
			}
		}
	}
}



























