@import "compass/reset";
@import "compass/layout";
@import "compass/css3";
@import "components/base";


/* GLOBAL
-------------------------------------------- */ 
html {
    position: relative;
}

body {
    overflow-x: hidden;

    &.inversed {
    	background-color: $darkGray;
    	color: #fff;
    }
}

body, input, textarea, select, button {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
}


/* HEADER
-------------------------------------------- */
#header {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;

	.header--inner {
		.navbar {
			.header-main {
				width: calc(100% - 40px);

				.header-brand {
					padding: 10px 0;
				}

				.header-menu {
					@media (min-width: $bp-md) {
						padding-left: 2rem;
						padding-right: 2rem;
					}

					ul.headnav-list {
						li {
							font-size: 16px;

							& + li {
								@media (min-width: $bp-md) {
									margin-left: 2rem;
								}
							}

							a {
								&.btn-trigger-talk {
									font-size: 12px;
									padding: 7px 12px;
									line-height: 1;
									opacity: 0.8;

									&:hover {
										opacity: 1;
									}
								}
							}
						}
					}
				}
			}

			.header-button {
				position: relative;
				width: 40px;
				height: 40px;

				#burger {
					position: fixed;
					z-index: 2;
				    width: 40px;
				    height: 40px;
				    cursor: pointer;
				    outline: 0;
				    background-color: transparent;
				    padding: 0;

				    &:before,
				    &:after {
				    	content: '';
				    	position: absolute;
				    	left: 10px;
				    	width: 20px;
				    	height: 2px;
				    	background-color: #fff;
				    	@include transition(all 250ms ease-out);
				    }

				    &:before {
				    	top: 15px;
				    }

				    &:after {
				    	bottom: 15px;
				    }

				    &.active {
				    	&:before {
				    		@include transform(translateY(3px) rotate(135deg));
				    	}

				    	&:after {
				    		@include transform(translateY(-3px) rotate(45deg));
				    	}
				    }
				}
			}
		}
	}
}

/* FOOTER
-------------------------------------------- */
#footer {
	
}

/* CONTENT
-------------------------------------------- */
body.home {
	main {
		#home-hero {
			.section--inner {
				position: relative;

				#sliderHome {
					.item {
						figure {
							position: relative;

							img {
								display: block;
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
					}
				}

				.hero-heading {
					position: absolute;
					z-index: 2;
					padding-left: 20px;
					padding-right: 20px;
					max-width: 700px;
					top: 50%;
					left: 50%;
					@include transform(translate(-50%, -50%));

					p {
						text-transform: uppercase;
						font-size: 16px;
						letter-spacing: 1.5px;
					}
				}
			}

			
		}
	}
}

























