/* COMPONENTS
-------------------------------------------- */
#talk-modal {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: #fff;

    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #eee;
        transform-origin: 0 0;
        @include transform(scaleY(0) translateZ(0));
        @include transition(transform .6s cubic-bezier(.23,1,.32,1) .7s);
    }

    .talk--inner {
        position: relative;
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;

        #close-talk {
            top: 50px;
            right: 50px;
            @include transform(scaleX(0) translateZ(0));
            @include transition(transform .6s cubic-bezier(.23,1,.32,1) .5s);

            @media (max-width: $bp-md - 1px) {
                top: 20px;
                right: 20px;
            }
        }

        .talk-content {
            form#talk-form {
                position: relative;

                .modal-field {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    visibility: hidden;
                    @include transition(visibility 0s 1s);

                    .form-group {
                        width: 100%;

                        @media (min-width: $bp-md) {
                            width: auto;
                            min-width: 600px;
                        }
                    }

                    label,
                    .form-control {
                        font-size: 48px;
                        color: $gray;

                        @media (max-width: $bp-md - 1px) {
                            font-size: 24px;
                        }
                    }

                    .input-container {
                        margin-top: 0.5rem;

                        .form-control {
                            border: none;
                            border-radius: 0;
                            box-shadow: none !important;
                            padding: 10px 0;
                            border-bottom: 1px solid #b4b4b4;
                        }

                        .input-msg {
                            margin-top: 0.75rem;
                            color: #b4b4b4;
                        }
                    }

                    .input-container.has-dropdown {
                        display: inline-block;
                        margin-left: 4rem;

                        .custom-dropdown {
                            .dropdown-toggle {
                                font-size: 48px;
                                color: #b4b4b4;
                                padding: 10px 0;
                                border-bottom: 1px solid #b4b4b4;

                                &:after {
                                    margin-left: 3.5rem;
                                    border-top: 12px solid;
                                    border-right: 9px solid transparent;
                                    border-left: 9px solid transparent;
                                }

                                @media (max-width: $bp-md - 1px) {
                                    font-size: 24px;
                                }
                            }

                            .dropdown-menu {
                                top: auto;
                                bottom: 100%;
                                min-width: 0;
                                width: 100%;
                                padding: 0;
                                margin: 0;
                                border-radius: 0;

                                .dropdown-item {
                                    font-size: 30px;
                                    color: $gray;
                                    padding: 1rem;
                                }
                            }
                        }
                    }

                    .form-slide-line {
                        backface-visibility: hidden;
                        opacity: 0;
                        @include transform(rotate(-10deg) rotateX(50deg) translateX(-40px) translateY(40px) translateZ(0));
                    }

                    &.is-active {
                        visibility: visible;
                        @include transition(visibility 0s 0s);

                        .form-slide-line {
                            opacity: 1;
                            @include transform(rotate(0) rotateX(0) translateX(0) translateY(0) translateZ(0));

                            &:first-child {
                                @include transition(transform 1s cubic-bezier(.23,1,.32,1) .4s, opacity .5s cubic-bezier(.165,.84,.44,1) .4s);
                            }

                            &:nth-child(2) {
                                @include transition(transform 1s cubic-bezier(.23,1,.32,1) .5s, opacity .5s cubic-bezier(.165,.84,.44,1) .5s);
                            }
                        }
                    }

                    &.is-leaving {
                        .form-slide-line {
                            opacity: 0;
                            @include transform(rotate(10deg) rotateX(-50deg) translateX(40px) translateY(-40px) translateZ(0));

                            &:first-child {
                                @include transition(transform 1s cubic-bezier(.23,1,.32,1) 0s, opacity .5s cubic-bezier(.165,.84,.44,1) 0s);
                            }

                            &:nth-child(2) {
                                @include transition(transform 1s cubic-bezier(.23,1,.32,1) .1s, opacity .5s cubic-bezier(.165,.84,.44,1) .1s);
                            }
                        }
                    }
                }

                .modal-btn-container {
                    position: absolute;
                    left: 0;
                    bottom: 10%;

                    .btn-next {
                        padding: 1.25rem 3rem;
                        color: #707070;

                        i {
                            margin-left: 5px;
                            display: inline-block;
                            @include transition(all 150ms ease-out);
                        }

                        &:hover {
                            color: #000;

                            i {
                                @include transform(translateX(10px));
                            }
                        }
                    }

                    .link-mail {
                        margin-left: 1rem;
                    }

                    @media (max-width: $bp-md - 1px) {
                        // position: relative;
                        bottom: 5%;

                        .btn-next {
                            padding: 0.75rem 1.25rem;
                        }

                        .link-mail {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    &.active {
        &:before {
            @include transform(scaleY(1) translateZ(0));
            @include transition(transform .6s cubic-bezier(.23,1,.32,1));
        }

        .talk--inner {
            #close-talk {
                @include transform(scaleX(1) translateZ(0));
                @include transition(transform .7s cubic-bezier(.23,1,.32,1));

                &::before, &::after {
                    @include transition(transform .7s cubic-bezier(.23,1,.32,1) .6s);
                }

                &::before {
                    @include transform(rotate(-45deg) translateZ(0));
                }

                &::after {
                    @include transform(rotate(45deg) translateZ(0));
                }
            }
        }
    }

    &.anim-finish {
        .talk--inner {
            #close-talk {
                &::before, &::after {
                    @include transition(transform .7s cubic-bezier(.23,1,.32,1) 0s);
                }

                &:hover {
                    &::before, &::after {
                        @include transition(transform .7s cubic-bezier(.23,1,.32,1));
                    }

                    &:before {
                        @include transform(rotate(-135deg) translateZ(0));
                    }

                    &:after {
                        @include transform(rotate(135deg) translateZ(0));
                    }
                }
            }

            .talk-content {
                form#talk-form {
                    .talk-form-bottom {
                        @include transform(translateY(0));
                        @include transition(transform .6s cubic-bezier(.23,1,.32,1) .5s);
                    }
                }
            }
        }
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.black {
        background-color: rgba(0,0,0,0.35);
    }
}




/* BASE
-------------------------------------------- */
.no-margin {
    margin: 0;
}

.has-ver-padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.has-ver-margin {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.has-bg-ornament {
	background-size: auto;
    background-repeat: no-repeat;
}

.fheight {
	height: 100%;
}


.container {
    @media (max-width: $bp-md - 1px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    &.container-narrow {
        @media (min-width: $bp-xl) {
            width: 960px;
        }
    }

    &.container-med {
        @media (min-width: $bp-xl) {
            width: 1000px;
        }
    }
}

.row-xs {
    margin-left: -10px !important;
    margin-right: -10px !important;

    > * {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

.row-lg {
    @media (min-width: $bp-xl) {
        margin-left: -40px !important;
        margin-right: -40px !important;

        > * {
            padding-left: 40px !important;
            padding-right: 40px !important;
        }
    }
}




/* FLEXBOX
-------------------------------------------- */
.flexed {
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
}

.flexed.justify {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flexed-desktop {
    @media (min-width: $bp-md) {
        -webkit-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        display: -webkit-box;
        display: -ms-flexbox;
        display: box;
        display: flex;
    }
}

.flexed-desktop.justify {
    @media (min-width: $bp-md) {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    } 
}




/* BUTTONS & LINKS
-------------------------------------------- */
.css-close {
    position: absolute;
    display: block;
    width: 1rem;
    height: 1rem;
    z-index: 5;
    overflow: hidden;

    &:hover {
        &::before, &::after {
            background: #fff;
        }
    }

    &::before, &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background: #9b9b9b;
    }

    &::before {
        @include transform(rotate(45deg));
    }

    &::after {
        @include transform(rotate(-45deg));
    }

    &.thin {
        &::before, &::after {
            height: 1px;
        }
    }
}

.btn,
.link {
    @include transition(all 150ms ease);
    border-radius: 0;
    outline: 0;
    text-decoration: none !important;
    
}

.btn {
    text-transform: uppercase;
	padding: 1rem;
    letter-spacing: 1px;
    box-shadow: none !important;

    &.small-text {
        font-size: 14px;
    }

	&.pad-lg {
		padding-left: 4rem;
		padding-right: 4rem;
	}

	&.curved {
		border-radius: 30px;
	}
}

.btn.btn-border-white {
    border: 1px solid #fff;
    background-color: transparent;

    &:hover {
        background-color: #fff;
    }
}

.btn-block-xs {
    @media (max-width: $bp-md - 1px) {
        display: block;
        width: 100%;
    }
}

.link.link-white {
    &:hover {
        color: #fff;
    }
}

.link.link-opaque {
    @include opacity(0.8);

    &:hover {
        @include opacity(1);
    }
}




/* FORMS
-------------------------------------------- */
.rdm-form {
	border: none;
    border-bottom: 1px solid $red !important;
    color: #fff !important;
    opacity: 0.65;
    font-size: 16px;
    background-color: transparent !important;
    border-radius: 0;
    padding: 0.5rem 0;
    height: auto !important;
    @include transition(opacity 200ms ease);

    @include placeholder {
        font-weight: 400;
        font-size: 14px;
    }

    &:focus {
    	opacity: 1;
    }
}

.check-custom {
    input {
        display: none;

        &:checked + label {}
    }

    label {
        vertical-align: middle;
        cursor: pointer;
        position: relative;
        font-size: 13px;
        padding-left: 20px;
        letter-spacing: 1px;

        i {
            font-size: 8px;
            position: absolute;
            left: 0;
            top: 3px;
            color: transparent;

            &:before {
                margin: 0;
                width: 12px;
                display: block;
                line-height: 12px;
            }
        }

        &:before {
            content: '';
            font-size: 10px;
            position: absolute;
            left: 0;
            top: 3px;
            width: 12px;
            height: 12px;
            background: transparent;
            // border: 2px solid $red;
        }
    }

    &.rounded {
        label {
            &:before {
                border-radius: 50%;
            }
        }
    }
}




/* MODAL
-------------------------------------------- */
.modal-backdrop.show {
    @include opacity(0.7);
}

.modal {
    .modal-dialog {
    	max-width: none;

        @media (min-width: $bp-xl) {
            max-width: 1000px;
        }

        button.close {
            padding: 15px;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            border: none;
            background-color: transparent;
            outline: none;
            @include appearance(none);

            .css-close {
                position: relative;
            }
        }
    }

    @media (min-width: $bp-md) {
        .modal-dialog {
            margin: 0;
            width: 90%;
            position: absolute;
            left: 50%;
            top: 50%;
            @include transform(translate(-50%, -50%));
        }

        &.fade {
            .modal-dialog {
                @include transform(translate(-50%, -75%));
            }
        }

        &.show {
            .modal-dialog {
                @include transform(translate(-50%, -50%));
            }
        }
    }
}














