/* FONT
-------------------------------------------- */
body,
button,
input,
optgroup,
select,
textarea,
a {
	// font-family: 'Lato', Arial, sans-serif;
	color: inherit;
	font-weight: normal;
}

.f-reg {
	font-weight: 400;
}

.f-bold {
	font-weight: 700;
}
