/* FONT
-------------------------------------------- */
body,
button,
input,
optgroup,
select,
textarea,
a {
	font-family: 'Aktiv Grotesk', Arial, sans-serif;
	color: inherit;
	font-weight: normal;
}

.f-thin {
  font-weight: 300;
}

.f-reg {
  font-weight: normal;
}

.f-med {
  font-weight: 500;
}

.f-bold {
  font-weight: bold;
}



@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('fonts/AktivGrotesk-Light.eot');
  src: url('fonts/AktivGrotesk-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/AktivGrotesk-Light.woff') format('woff'),
    url('fonts/AktivGrotesk-Light.ttf') format('truetype'),
    url('fonts/AktivGrotesk-Light.svg#CAktivGrotesk-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('fonts/AktivGrotesk-Regular.eot');
  src: url('fonts/AktivGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/AktivGrotesk-Regular.woff') format('woff'),
    url('fonts/AktivGrotesk-Regular.ttf') format('truetype'),
    url('fonts/AktivGrotesk-Regular.svg#AktivGrotesk-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('fonts/AktivGrotesk-Medium.eot');
  src: url('fonts/AktivGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/AktivGrotesk-Medium.woff') format('woff'),
    url('fonts/AktivGrotesk-Medium.ttf') format('truetype'),
    url('fonts/AktivGrotesk-Medium.svg#AktivGrotesk-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('fonts/AktivGrotesk-Bold.eot');
  src: url('fonts/AktivGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/AktivGrotesk-Bold.woff') format('woff'),
    url('fonts/AktivGrotesk-Bold.ttf') format('truetype'),
    url('fonts/AktivGrotesk-Bold.svg#AktivGrotesk-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ClanPro-News';
  src: url('fonts/ClanPro-News.eot'); /* IE9 Compat Modes */
  src: url('fonts/ClanPro-News.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/ClanPro-News.woff') format('woff'), /* Modern Browsers */
       url('fonts/ClanPro-News.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/ClanPro-News.svg#ClanPro-News') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'ClanPro';
  src: url('fonts/ClanPro-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/ClanPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/ClanPro-Bold.woff') format('woff'), /* Modern Browsers */
       url('fonts/ClanPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/ClanPro-Bold.svg#ClanPro-Bold') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  bold;
}
