/* HEADING
-------------------------------------------- */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'ClanPro-News', Arial, sans-serif;
	font-weight: bold;
}

.ls-med {
	letter-spacing: 1px;
}

.ls-lg {
	letter-spacing: 1.5px;
}

.lh-med {
	line-height: 1.5;
}

.opaque {
	opacity: 0.6;
}

@media (max-width: $bp-md - 1px) {
	h1, .h1 {
		font-size: 2.5rem;
	}

	h2, .h2 {
		font-size: 2.15rem;
	}

	h3, .h3 {
		font-size: 1.95rem;
	}

	h4, .h4 {
		font-size: 1.5rem;
	}
}