$darkGray   : #0e0e0e;

//SOCIAL
$facebook 	: #3a589b;
$twitter 	: #598dca;
$youtube    : #c4302c;
$gplus      : #d34836;

//SIZE
$bp-s: 375px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1300px;
